{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
   <h1>Création d'un article !</h1>
   
    {{ form_start(formArticle) }}
    
    {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Contenue de l'article"}}) }}
    {{ form_row(formArticle.image, {'attr': {'placeholder': "Image de l'article"}}) }}
    

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Modifier l'article
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(formArticle) }}

{% endblock %}