{% extends 'base.html.twig' %}

{% block body %}
    <h1> {{ title }} </h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ullam quam fugiat harum odit aliquid tenetur, reiciendis cumque nostrum. Iusto quibusdam repudiandae sed inventore accusantium! Tenetur voluptates perferendis perspiciatis quasi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatum tempora nemo rem, corporis quasi laboriosam vitae sit dignissimos adipisci, ex nobis aut sint minima veritatis autem iste expedita veniam?</p>
{% endblock %}
